@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 유저목록 모달창 before:: */
  .modal-before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 30px;
    bottom: 45px;
    left: -12px;
    transform: rotate(45deg);
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
